html {
    background-color: green;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    color: white;
}

body {
    background-color: white;
    margin: 5px;
    padding: 5px;
    color: white;
    z-index: 2 !important;
}

#background-image {
    background-color: none;
    background-image: url("../images/IMG_20251027_160426.jpg") !important;
    background-size: 100% 100% !important;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    z-index: 1 !important;
}

a {
    color: rgb(11, 207, 11);
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: green;
    text-decoration: underline;
}

a:active {
    color: darkgreen;
    text-decoration: underline;
}

button {
    background-color: rgb(11, 207, 11);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border: outset 3px rgb(4, 180, 4);
}

button:hover {
    background-color: rgb(7, 105, 7);
    border: outset 3px green;
}

button:active {
    background-color: rgb(4, 61, 4);
    border: inset 3px green;
}

input, select, option {
    outline: none !important;
}

header {
    background-color: rgb(11, 207, 11);
    z-index: 100 !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /*height: 38px !important;*/
}

header .logo {
    padding: 4px;
    float: left;
}

form input {
    border-radius: 15px;
    padding: 5px;
    color: whitesmoke;
    background-color: rgb(25, 180, 25);
    border: 2px rgb(17, 143, 17) solid;
    width: 100%;
    display: inline-block;
    outline: none !important;
}

form input:focus-visible {
    background-color: rgb(25, 180, 25);
}

.container {
    margin: auto;
    width: 1000px;
}

header .container {
    justify-content: center;
    display: flex;
}

.search-bar {
    display: inline-block;
    width: 100%;
}

.serv-img {
    border-radius: 50%;
    border: 2px darkgreen solid;
    width: 85px !important;
    height: 85px !important;
    background-size: 100% 100%;
    background-repeat: no-repeat !important;
}

.serv-img.s1 {
    background-image: url("../images/IMG_20251027_211102_1.jpg");
}

.section {
    margin: 8px;
    color: rgb(37, 37, 37) !important;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

#site-nav {
    margin: none !important;
    display: block;
    list-style-type: none !important;
    list-style: none !important;
    margin-block: 0px !important;
    margin-block-start: 0px !important;
    margin-block-end: 0px !important;
    margin-top: -5px;
    margin-bottom: -5px;
    float: right !important;
}

#site-nav li {
    background-color: rgb(11, 207, 11);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-left: green 2px solid;
    border-right: green 2px solid;
    display: inline-block;
    margin-left: 0px;
    margin-right: -7px;
}

#site-nav li.last {
    background-color: rgb(11, 207, 11);
    border-left: green 2px solid;
    border-right: green 2px solid;
}

#site-nav li:hover {
    background-color: green;
}

#services {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    column-gap: 50px;
    row-gap: 50px;
}

#services.container {
    margin: auto;
    width: 1300px !important;
}

#services a {
    background-color: rgb(11, 207, 11);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-left: green 2px solid;
    border-right: green 2px solid;
    align-content: center;
    justify-items: center !important;
    justify-content: center !important;
}

#services a:hover {
    background-color: green;
    color: chartreuse;
    text-decoration: none;
}

#webpage {
    /*background-color: blue;*/
    height: 100% !important;
    margin-top: 50px;
    z-index: 20 !important;
    position: relative !important;
}

.logo img {
    height: 30px !important;
    src: url("../images/IMG_20251027_160426.jpg");
    border: green 1px outset;
    border-radius: 50%;
    position: absolute;
    margin-top: -1px !important;
}

.logo img:hover {
    border-style: inset;
}

#middle-part {
    width: 32vw !important;
    margin: 5px !important;
    margin-left: 45px !important;
}

h3.container {
    width: none;
}

#toggle-menu {
    display: none !important;
}

@media screen and (max-width: 1300px) {
    body {
        display: static !important;
    }

    #services {
        grid-template-columns: 1fr;
    }

    #services.container {
        margin: auto;
        width: auto !important;
    }

    #site-nav {
        display: block;
        list-style-type: none !important;
        list-style: none !important;
        margin: none !important;
        float: left !important;
        border: none !important;
    }

    #site-nav li {
        background-color: rgb(11, 207, 11);
        color: white;
        border: none !important;
        padding: 30px 50px;
        cursor: pointer;
        display: inline-block;
        margin-left: 0px;
        margin-right: -7px;
    }

    header .container {
        margin: none;
        width: auto;
    }

    header {
        height: 150px !important;
        display: block !important;
        position: relative !important;
        width: 100% !important;
    }

    .logo img {
        height: 100px !important;
        border-width: 5px;
        display: block;
        position: static;
    }

    #middle-part {
        display: none;
    }

    header .container {
        display: block !important;
        height: 150px !important;
        overflow-y: hidden !important;
    }

    header.open .container {
        display: block !important;
        height: 500px !important;
        overflow-y: scroll !important;
    }

    header.open {
        height: 100% !important;
    }

    #toggle-menu {
        display: block !important;
        width: 100%;
    }
}